body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  max-width: 350px;
  position: absolute;
}

.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  display: block;
}

.oculto {
  display: none;
}

.si {
  background: pink;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.no {
  position: absolute;
}

/* Corazones */
.heart {
position: absolute;
bottom: -20px;
color: #ff4d6d;
font-size: 20px;
animation: flotar 5s linear infinite;
}


@keyframes flotar {
from {
transform: translateY(0) scale(1);
opacity: 1;
}
to {
transform: translateY(-100vh) scale(1.5);
opacity: 0;
}
}


@keyframes aparecer {
from { transform: scale(0.7); opacity: 0; }
to { transform: scale(1); opacity: 1; }
}